<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metahttp-equiv="X-UA-Compatible" content=""IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Steve N. Njoya</title>
</head>
<body>
    <header>
        <div class="container__left">
            <div class="nav__logo">Steve N. Njoya</div>
            <div class="content">
                <h1 class="title">Be Creative, <br>Be Impressive</h1>
                <p class="subtitle">Cloud Engineer, Data Scientist and Back-end web Developper</p>
                <p class="description">
                    I build your GCP Based Cloud Architectures and knative solutions, develop and deploy Machine Learning and 
                    Deep Learning algoriths especially for ChatBots, and develop API's for your webservers back-ends.
                </p>
                <p>
                    Contact me <br> 
                    <ul>
                        <li>Email: steve.njoya.2000@gmail.com</li>
                        <li>Phone: (+237) 655 92 14 77 / 682 98 60 55</li>
                        <li>Linkedin: <a href="www.linkedin.com/in/steve-njoya-09b1b42a6">Steve Njoya</a></li>
                    </ul>
                </p>
                <div class="action__buttons">
                    <button class="btn portfolio"><a href="index.hbs">Portfolio</a></button>
                    <button class="btn cv"><a href="cv.hbs">CV</a></button>
                </div>
            </div>
        </div>
        <div class="container__right">
            <ul class="nav__links">
                <li class="link"><a href="#">Home</a></li>
                <li class="link"><a href="itprojects.hbs">IT Projects</a></li>
                <li class="link"><a href="bizprojects.bhs">Business Projects</a></li>
                <li class="link"><a href="about.hbs">About</a></li>
            </ul>
            <div class="image">
                <img src="/img/cv pic.jpg" alt="profile">
                <div class="image__content">
                    <h4>Steve N. Njoya</h4>
                    <p>President of The SN Group</p>
                </div>
            </div>
        </div>
    </header>

    <footer>

    </footer>
</body>
</html>