<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <metahttp-equiv="X-UA-Compatible" content=""IE=edge>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style2.css">
    <title>IT Projects</title>
</head>
<body>
    <header>
        <div class="container">
            <div class="nav__logo">Steve N. Njoya</div>
            <ul class="nav__links">
                <li class="link"><a href="/index">Home</a></li>
                <li class="link"><a href="#">IT Projects</a></li>
                <li class="link"><a href="/bizprojects">Business Projects</a></li>
                <li class="link"><a href="/about">About</a></li>
            </ul>
        </div>
    </header>
    <div class="projects">
        <h1 class="title">MY IT PROJECTS HERE</h1>
        <p class="subtitle">Here are some of my IT projects</p>
        <div class="project">
            <div class="project-image-frame">
                    <img src="/img/bg.jpg" alt="Project 1" class="project-image">   
            </div>
            <div class="project-content">
                <h3 class="project-title">Project 1</h3>
                <h4 class="project-sub-title">Technologies</h4>
                <p>Description of Project 1</p>
                <button class="btn">View Project</button>
            </div>
        </div>
        <div class="project">
            <div class="project-image-frame">
                    <img src="/img/bg.jpg" alt="Project 1" class="project-image">   
            </div>
            <div class="project-title">
                <h3>Project 1</h3>
                <p>Description of Project 1</p>
                <button class="btn">View Project</button>
            </div>
        </div>
        <div class="project">
            <div class="project-image-frame">
                    <img src="/img/bg.jpg" alt="Project 1" class="project-image">   
            </div>
            <div class="project-title">
                <h3>Project 1</h3>
                <p>Description of Project 1</p>
                <button class="btn">View Project</button>
            </div>
        </div>

    </div>
</body>
</html>